section {
    display: flex;
    flex-direction: column;
    /* Đặt các payment-option thành cột */
    gap: 15px;
    /* Khoảng cách giữa các ô */
}

.payment-option {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 15px;
    font-size: 18px;
    /* Đặt kích thước chữ là 18px */
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* Thiết lập font */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.3s ease-in-out;
    /* Thêm hiệu ứng chuyển tiếp cho border */
    flex: 1;
    /* Đảm bảo các ô có chiều cao đều nhau */
}

.payment-option:first-child {
    height: 150%;
    /* Tăng chiều cao của ô thẻ tín dụng lên 1.5 lần */
}

.payment-option:hover {
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-option span {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.payment-option.selected {
    border: 2px solid #2c90b1;
    /* Viền xanh nhạt khi chọn */
}

.payment-options-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    overflow: hidden;
    /* Ẩn các phần vượt quá khi chưa được mở */
    max-height: 0;
    /* Ẩn hoàn toàn danh sách */
    transition: max-height 0.5s ease-out;
    /* Thêm hiệu ứng trượt */
}

.payment-options-list.show {
    max-height: 500px;
    /* Mở rộng danh sách */
}

.payment-option-item {
    width: 90%;
    /* Thu nhỏ chiều ngang của các option */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    /* Thêm hiệu ứng viền khi chọn */
    margin: 0 auto;
    /* Căn giữa các ô */
    display: flex;
    align-items: center;
    /* Căn giữa logo và tên */
    gap: 10px;
    /* Khoảng cách giữa logo và tên */
    justify-content: space-between;
    /* Đưa logo sang bên phải */
}

.payment-option-item img {
    width: 30px;
    /* Kích thước logo */
    height: auto;
}

.payment-option-item:hover {
    background-color: #e0e0e0;
}

.payment-option-item.selected {
    border: 2px solid #2c90b1;
    /* Viền xanh nhạt khi chọn */
}

/* Thêm hiệu ứng chuyển động cho dòng text */