*{
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

header {
    flex: 1;
    padding-bottom: 20px;
}

footer {
    padding-bottom: 18px;
    background-color: rgb(245 245 247);
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
}

.header-footer {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
}

.content-footer {
    padding: 12px 0;
}

.error {
    width: 70%;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
    margin-top: 5px;

}

.error span {
    color: red;
    font-size: 16px;
}


#popUp {
    z-index: 3000;
    position: fixed;
    top: 50px;
    right: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #c3c2c2;
    padding: 0 20px;
    font-family: sans-serif;
    padding: 0 20px;

}


#btnPopup {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: 5px 0;
}

#btnPopup:hover {
    background-color: #000;
    color: #ffff;

}

#popUp img {
    height: 90px;
    width: 65px;
    object-fit: cover;
    border-radius: 5px;
}


@keyframes popUpDown {
    0% {
        opacity: 0;
        top: -10px;
    }

    100% {
        opacity: 1;
        top: 50px;
    }

}

@keyframes popUpUp {
    0% {
        opacity: 1;
        top: 50px;
    }

    100% {
        opacity: 0;
        top: -10px;
    }

}