body {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header img {
    width: 100px;
    /* Đặt chiều rộng cố định */
    height: 100px;
    /* Đặt chiều cao cố định */
    object-fit: contain;
    /* Đảm bảo ảnh không bị méo */
}

.header p {
    font-size: 20px;
}

.text-first h1 {
    font-size: 64px;
    line-height: 1.0625;
    letter-spacing: -0.009em;
    font-weight: 600;
}

.text-second h2 {
    font-size: 24px;
    letter-spacing: .009em;
    line-height: 1.1666666667;
    font-weight: 600;
}

.header {
    background-color: #fafafc;
}

.content {
    padding: 0;
}

.video {
    position: relative;
    padding-top: 56.25%;
    /* Tỷ lệ 16:9 */
    background-color: black;
    /* Màu nền của video */
    border-radius: 10px;
    /* Bo góc nếu cần */
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-out;
}

.pause-btn {
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    width: 60px;
    height: 60px;
    /* Đảm bảo chiều cao cố định */
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: transform 0.3s ease;
    z-index: 10;
}

#best-sale {
    display: flex;
    align-items: center;
}

.best-saler-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#best-sale img {
    width: 180px;
    height: 120px;
    object-fit: cover;
}
.container-fluid.learn-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left, .right {
    background-color: rgb(250 250 250);
    flex: 1;
    margin: 10px;
    position: relative;
    padding: 20px; /* Tạo khoảng cách giữa ảnh và nội dung */
    overflow: hidden; /* Đảm bảo ảnh không bị tràn ra ngoài */
}