.color-item-img {
    display: none;
}

.color-item-img.active {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    gap: 10px;
}

.color-item-img.active img {
    width: 60px;
    height: 90px;
    cursor: pointer;
    padding: 2px;
    transition: all 0.3s ease;
    opacity: 0.5;
    border-radius: 5px;
    background-color: #e8e8e8;
}

#img_main {
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#img_main img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0; /* Initially set opacity to 0 */
    animation: fadeIn 0.5s forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.title{
    margin-bottom: 20px;
}
.name{
    font-size: 28px;
    font-weight: 700;
    line-height: 1.25em;
    margin-bottom: 10px;
}
.original-price{
    color: #c4c4c4;
    font-size: 16px;
    line-height: 16px;
    text-decoration: line-through;
}
.price{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.price_sale{
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
}
.price_discount{
    font-size: 16px;
    background-color: #273bcd;
    padding: 3px 12px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.selectedColorText{
    font-size: 14px;

}
.selectedSizeText strong,
.selectedColorText strong{
    margin-left: 10px;

}
.color-box{
    height: 32px;
    width: 53px;
    border-radius: 30px;
    margin-right: 10px;
}

.color-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.size{
    display: none;
}
.size.active{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.size-item{
    font-size: 14px;
    font-weight: 700;
    padding: 10px 30px;
    background-color: #D9D9D9;
    border-radius: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.selectedSizeText{
    font-size: 14px;
    margin-right: 10px;
}
.btnIncreaseDecrease{
    display: flex;
}
.btnIncreaseDecrease div:first-child{
    width: 100px;
    background-color: #ffffff;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
}
.btnIncreaseDecrease div:first-child i{
    margin: 0;
}
.btnIncreaseDecrease div:last-child button{
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    background: black;
    color: white;
}