h6{
    font-size: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    text-align: center;
}

.btn * {
    margin: 1px ;
}
.text-body{
    font-size: 20px
}
.hover-red:hover {
    color: red !important;
}


