.modal-dialog {
    max-height: 500px !important;
}

.modal-content {
    max-height: 500px !important;
    margin-top: 10% !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-body {
    flex: 1;
    overflow-y: auto;
}

.modal-title{
    font-weight: 800;
}
