<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Define the AdminRoleFilter -->
    <filter>
        <filter-name>AdminRoleFilter</filter-name>
        <filter-class>filters.AdminRoleFilter</filter-class>
    </filter>

    <!-- Map the filter to /admin/* URL pattern -->
    <filter-mapping>
        <filter-name>AdminRoleFilter</filter-name>
        <url-pattern>/adminPages/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>

    <!-- Mapping Filter -->
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern> <!-- Áp dụng cho mọi URL -->
    </filter-mapping>

    <filter>
        <filter-name>Login</filter-name>
        <filter-class>filters.Login</filter-class>
    </filter>

    <!-- Áp dụng filter cho tất cả các URL -->
    <filter-mapping>
        <filter-name>Login</filter-name>
        <url-pattern>/loginPages/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.user.cart.AddToCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>

</web-app>
